{%- comment -%}
- style: 'white', 'transparent', 'primary-blue' (incomplete)
- btn_text: (text) Button text
- btn_link: (text) Button href
- classes: (text) Custom classes to add
- text_align: 'left', 'center'
- large: (boolean)
{%- endcomment -%}

{% case btn_style %}
    {% when 'white' %}
        {% assign bg = btn_style %}
        {% assign text = 'black-planera' %}
        {% assign hover_text = 'white' %}
        {% assign hover_bg = 'black-planera' %}
        {% assign fill = 'btn_primary--white' %}
        {% assign rounded = 'button' %}
        {% assign large_padding = '6' %}
    {% when 'purple' %}
        {% assign bg = 'purple-planera' %}
        {% assign text = 'white' %}
        {% assign hover_text = 'black-planera' %}
        {% assign hover_bg = 'gray-planera' %}
        {% assign rounded = 'lg' %}
        {% assign large_padding = '12' %}
{% endcase %}

<a class="rounded-{{ rounded }} bg-{{ bg }} border-{{ bg }} text-{{ text }} {% if large %}py-3{% else %}py-2{% endif %} text-center {% if large %}px-6 md:px-{{ large_padding }}{% else %}px-5{% endif %} relative border text-sm flex {% if text_align == 'left' %}items-start{% else %}items-center{% endif %} justify-center btn-main hover:bg-{{ hover_bg }} hover:border-{{ hover_bg }} hover:text-{{ hover_text }} transition-all ease-out duration-300 {{ classes }} {{ fill }}" href="{{ btn_link }}">
    <p class="{% if text_align == 'left' and btn_style == 'white' %}text-left mr-5{% else %}text-center{% endif %}">{{ btn_text }}</p>
    {% unless btn_style == 'purple' %}<div class="absolute right-2 top-1/2 -translate-y-1/2 transform">{% include 'icon-arrow' classes: 'transition-all ease-out duration-300' %}</div>{% endunless %}
</a>