<!-- Yotpo Reviews Widget > widget installation location here -->
<div class="yotpo yotpo-main-widget"
data-product-id="{{ product.id }}"
data-name="{{ product.title | escape }}"
data-url="{{ shop.url }}{{ product.url }}"
data-image-url="{{ product.featured_image | product_img_url: 'large' |replace: '?', '%3F' | replace: '&','%26'}}"
data-price="{{ variant.price | money_without_currency }}"
data-currency=“{{ shop.currency }}”
data-description=“{{ product.description | escape }}“ style="padding: 50px 0">
</div>
<!-- End of Yotpo -->