{% assign id = section.id | replace: '-', '_' %}

{% stylesheet %}
  /*fixing single product*/
  .custom_testimonials_quotes_container {
    background-color: #212121 !important; /* #212121*/
    width: 250px;
    max-width:  90%;
    color: #FFFFFF !important;
    padding: 0 12px;
    border-left: solid 1px #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .custom_testimonials_txt_container {
    padding: 0;
  }
  .custom_testimonials_outter {
    background-color: #212121 !important; /* #212121*/
    width: 305px;
    max-width:  100%;
    height: 250px;
    border-bottom: solid 10px #212121;
    border-top: solid 10px #212121;
  }
  .custom_testimonials_txt {}
  /* fixing testimonials */
  /*
  .custom_testimonials_container {
    width: 305px;
    height: 258px;
    background-color: #212121 !important;
    color: #FFFFFF !important;
    font-family: 'Reckless TRIAL';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  .custom_testimonials_txt {
    width: 100%
  }
  */
{% endstylesheet %}

<div style="background-color: {{ section.settings.bg_col }};" class="pb-14 pt-5 md:pt-14 mt-12 md:mt-2">
  {% capture replace_text %}
    {% if section.settings.underlined_title != blank %}
      <span class="relative inline-block">
        {{ section.settings.underlined_title }}
        {% include 'icon-underline-thick' classes: 'absolute -bottom-2 right-0' %}
      </span>
    {% endif %}
  {% endcapture %}
  <p style="color: {{ section.settings.text_col }};" class="text-4xl font-cheltenham-std text-center">{{ section.settings.title | replace: 'XX', replace_text }}</p>

  <div class="glide px-9 lg:px-20 mt-18 md:mt-11 relative" data-options='{
                                                                                                    "type": "carousel",
                                                                                                    "perView": 4,
                                                                                                    "gap": 25,
                                                                                                    "breakpoints": {
                                                                                                        "1536": {
                                                                                                            "perView": 4
                                                                                                        },
                                                                                                        "1280": {
                                                                                                            "perView": 3
                                                                                                        },
                                                                                                        "768": {
                                                                                                            "perView": 2
                                                                                                        },
                                                                                                        "480": {
                                                                                                            "perView": 1
                                                                                                        }
                                                                                                    }
                                                                                                }'>
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides flex glide__slides--equal-height">
        {% for block in section.blocks %}
          <li class="glide__slide">

            <div class=" flex items-center justify-center custom_testimonials_outter">
              <div style="background-color: {{ block.settings.bg_col }};color: {{ block.settings.text_col }};" class="pt-6 pb-8 h-full custom_testimonials_quotes_container">

                <div class="mt-3">
                  <p class="leading-none text-xs">{{ block.settings.stars }}.0</p>
                </div>

                <div class="px-3 max-w-full w-56 sm:w-72   mt-3 md:text-sm.5 text-xs.5 leading-tight relative custom_testimonials_txt_container">
                  <p class="custom_testimonials_txt">{{ block.settings.quote }}</p>
                </div>

                <div>
                  <p class="mt-4">{{ block.settings.name }}</p>
                </div>

              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left absolute left-2.5 lg:left-6 top-1/2 translate-y-1/2 transform" data-glide-dir="<">
                                                                                                                                                                                                                                                                                                                                      <div>
                                                                                                                                                                                                                                                                                                                                          {% include 'icon-slide-arrow-left' %}
                                                                                                                                                                                                                                                                                                                                      </div>
                                                                                                                                                                                                                                                                                                                                  </button>
                                                                                                                                                                                                                                                                                                                                  <button class=" glide__arrow glide__arrow--right absolute right-2.5 lg:right-6 top-1/2 translate-y-1/2 transform" data-glide-dir=">">
          <div class="scale">
            {% include 'icon-slide-arrow-right' %}
          </div>
        </button>
      </div>
      <div class="glide__bullets flex items-center justify-center mt-5" data-glide-el="controls[nav]">
        {% for block in section.blocks %}
          <button class="glide__bullet w-3.5 h-3.5 bg-gray-400 rounded-full mx-1 border border-solid border-gray-400" data-glide-dir="={{ forloop.index0}}"></button>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "settings": [
      {
        "type": "color",
        "id": "bg_col",
        "label": "Background Colour"
      }, {
        "type": "color",
        "id": "text_col",
        "label": "Text Colour"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title",
        "info": "Add XX anywhere in the title. This will be replaced will the below text"
      }, {
        "type": "text",
        "id": "underlined_title",
        "label": "Underlined Text"
      }
    ],
    "blocks": [
      {
        "name": "Testimonial",
        "type": "testimonial",
        "settings": [
          {
            "type": "color",
            "id": "bg_col",
            "label": "Background Colour"
          },
          {
            "type": "color",
            "id": "text_col",
            "label": "Text Colour"
          },
          {
            "type": "image_picker",
            "id": "img",
            "label": "Image",
            "info": "1x1 Recommended"
          },
          {
            "type": "range",
            "id": "stars",
            "label": "Stars",
            "default": 5,
            "min": 0,
            "max": 5
          }, {
            "type": "text",
            "id": "quote",
            "label": "Quote"
          }, {
            "type": "text",
            "id": "name",
            "label": "Quote Author"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Text",
        "name": "Testimonials"
      }
    ],
    "templates": [
      "index",
      "product",
      "page",
      "article",
      "collection"
    ]
  }
{% endschema %}